@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Ubuntu:wght@400;500;700&display=swap');

* {
    font-family: 'Ubuntu', sans-serif; 
}

p {
    text-align: justify;
    text-justify: inter-word;
}

.navbar{
    padding-left: 40px;
}

.home{
    display: flex;
    background-color:#222529;
    height: 100vh;
    color:white;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width{
    margin: auto 0 auto 40px;
}

.title2 {
    position: relative;
    text-align: center;
    font-size: 30px;
    font-weight: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Ubuntu',sans-serif;
}

.title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Ubuntu',sans-serif;
    text-decoration: underline;
}

.home .home-content .t1{
    font-size: 27px;
}

.home .home-content .t2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .t3{
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .t3 span{
    color: crimson;
    font-weight: 500;
}

footer{
    background: #222529;
    height: auto;
    width : 100vw;
    font-family: "Ubuntu",sans-serif;
    padding-top: 40px;
    color:white;
}

.footerContent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footerContent h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footerContent p {
    max-width: 500px;
    margin:5px auto;
    line-height: 28px;
    font-size: 14px;
}

.footerContent p span {
    text-decoration:solid;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin : 1rem 0 3rem 0;
    padding-right: 40px;
}

.socials li{
    margin: 0 20px;
}

.socials a{
    text-decoration: none;
    color:white;
}

.socials a i {
    font-size: 1,1rem;
    transition: color .4s ease;
}

.socials a:hover i{
    color:crimson;
}

